body {margin:0;}
.kapsayici {
	width: 880px;
	height: 880px;
	display: inline-block;
	background: #ccc;

	padding:30px;
	box-sizing: border-box;
}

.kirmizi { 
 width: 390px;
 height: 390px;
 background-color: #f1532d;
 float: left;
 margin-right: 30px;
 margin-bottom: 30px;
}


.yesil {
width: 390px;
 height: 390px;
  background-color:#84bc23; float: left;}
.mavi {
	width: 390px;
	height: 390px;
	background-color:#1ca9ee;
	float: left;
	margin-right: 30px;
	}
.sari {width: 390px; height: 390px; background-color:#fdba2c;  float: left;}


